/*styles for places section*/

.places h1
{
    font-size: 30px;
}

.places article
{
    width: 390px;
    border: solid 1px  #FF5A5F;
    border-radius: 4px;
    padding: 30px;
    margin: 30px auto;
}

.places h2
{
    font-size: 30px;
    text-align: center;
}